In [ ]:
import pypsa
import matplotlib.pyplot as plt

Set parameter Username
Set parameter LicenseID to value 2769009
Academic license - for non-commercial use only - expires 2027-01-22

In [ ]:
# load network
n = pypsa.Network("../results/hydro-phs-minimalconfig-fr/networks/base_s_6_elec_.nc")
    # this network is created with 6 clusters in france with snapshots [2013-01-01 to 2013-01-31]

INFO:pypsa.network.io:Imported network 'Unnamed Network' has buses, carriers, generators, lines, links, loads, storage_units, stores, sub_networks

In [ ]:
# generators by carrier (ror = run-of-river)
print(n.generators.groupby("carrier")["p_nom"].sum().round(2).sort_values(ascending=False))

generators by carrier (ror = run-of-river)
carrier
nuclear          52240.00
onwind           23778.60
solar            12500.10
CCGT              9144.20
ror               6870.65
offwind-ac        3024.20
coal              1161.64
lignite            977.00
oil                624.00
biomass            252.00
offwind-dc           0.00
offwind-float        0.00
solar-hsat           0.00
Name: p_nom, dtype: float64

In [29]:
# storage units by carrier (hydro = reservoir hydro, phs = pumped hydro storage)
print(n.storage_units.groupby("carrier")["p_nom"].sum().round(2).sort_values(ascending=False))

carrier
hydro    8573.49
PHS      5236.30
Name: p_nom, dtype: float64

In [30]:
# data frame of all storage units
n.storage_units

,bus,control,type,p_nom,p_nom_mod,p_nom_extendable,p_nom_min,p_nom_max,p_nom_set,p_min_pu,...,state_of_charge_initial_per_period,state_of_charge_set,cyclic_state_of_charge,cyclic_state_of_charge_per_period,max_hours,efficiency_store,efficiency_dispatch,standing_loss,inflow,p_nom_opt
name,,,,,,,,,,,,,,,,,,,,,
FR0 0 PHS,FR0 0,PQ,,808.000000,0.0,False,0.0,inf,NaN,-1.0,...,False,NaN,True,False,5.573020,0.866025,0.866025,0.0,0.0,808.000000
FR0 1 PHS,FR0 1,PQ,,921.000000,0.0,False,0.0,inf,NaN,-1.0,...,False,NaN,True,False,39.522258,0.866025,0.866025,0.0,0.0,921.000000
FR0 5 PHS,FR0 5,PQ,,3507.300000,0.0,False,0.0,inf,NaN,-1.0,...,False,NaN,True,False,11.856172,0.866025,0.866025,0.0,0.0,3507.300000
FR0 1 hydro,FR0 1,PQ,,2881.246497,0.0,False,0.0,inf,NaN,0.0,...,False,NaN,True,False,1936.650083,0.000000,0.900000,0.0,0.0,2881.246497
FR0 3 hydro,FR0 3,PQ,,139.000000,0.0,False,0.0,inf,NaN,0.0,...,False,NaN,True,False,1936.650083,0.000000,0.900000,0.0,0.0,139.000000
FR0 4 hydro,FR0 4,PQ,,909.888535,0.0,False,0.0,inf,NaN,0.0,...,False,NaN,True,False,1936.650083,0.000000,0.900000,0.0,0.0,909.888535
FR0 5 hydro,FR0 5,PQ,,4643.357962,0.0,False,0.0,inf,NaN,0.0,...,False,NaN,True,False,471.210855,0.000000,0.900000,0.0,0.0,4643.357962

In [ ]:
# hydro generation time series
hydro_generators = n.generators[n.generators.carrier == "hydro"]
hydro_generation = n.generators_t.p[hydro_generators.index]

NameError: name 'plt' is not defined